@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    float: left;
}
li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
header{
    height: 100px;
}
#drivers-table{
    border-collapse: collapse;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
    text-align: left;
}
#drivers-table th,
#drivers-table td{
    padding: 12px 15px;
}